<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974147493782-ensk0m58d109e8m0k5civ6qhml33hlg5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974147493782-ensk0m58d109e8m0k5civ6qhml33hlg5</string>
	<key>API_KEY</key>
	<string>AIzaSyAArbrG6xGPkJDNCHCM59oiJpWkJVZ6ksA</string>
	<key>GCM_SENDER_ID</key>
	<string>974147493782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.signinsignup</string>
	<key>PROJECT_ID</key>
	<string>signinsignup-99852</string>
	<key>STORAGE_BUCKET</key>
	<string>signinsignup-99852.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974147493782:ios:11f9e5178e16fe19f687b7</string>
</dict>
</plist>